* {
    box-sizing: unset;
}

html {
    background-color: unset;
}

body {
    max-width: unset;
    padding: unset;
    line-height: unset;
}

a:link, a:visited {
    opacity: 1;
    transition: all 0.15s linear;
    color: #424242;
}

a:focus {
    outline-offset: unset;
    outline: unset;
}

h1:first-child {
    text-align: unset;
}

a:link, a:visited {
    opacity: 1;
    transition: all 0.15s linear;
    color: #424242;
}

a:focus {
    outline-offset: unset;
    outline: unset;
}

h1:first-child {
    text-align: unset;
}

p {
    margin: 0;
}

.post_footer,
.nav_container,
.header,
.post_title {
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.post_detail_title {
    font-family: unset;
}

.markdown strong {
    padding: unset;
    background-color: unset;
    font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, 'Microsoft Yahei', 'STHeiti', 'Source Han Sans CN';
}

:lang(zh-hant) .theorem::before { 
    content: '定理 ' counter(theorem) '. ' !important; 
    font-family: 'Microsoft Yahei', 'STHeiti', 'Source Han Sans CN';
}

:lang(zh-hant) .lemma::before { 
    content: '引理 ' counter(theorem) '. ' !important; 
    font-family: 'Microsoft Yahei', 'STHeiti', 'Source Han Sans CN';
}

:lang(zh-hant) .proof::before { 
    content: '證明：' attr(title) !important; font-style: normal; 
    font-family: 'Microsoft Yahei', 'STHeiti', 'Source Han Sans CN';
}

:lang(zh-hant) .definition::before { 
    content: '定義 ' counter(definition) '. ' !important; 
    font-family: 'Microsoft Yahei', 'STHeiti', 'Source Han Sans CN';
}
